# Lista de archivos y carpetas a ser ignoradas por git

# Archivos ignorados del SO MacOS
.DS_Store
.AppleDouble
.LSOverride

# Ignorando archivos de video
*.mov
*.avi

# Directorio de dependencias
node_modules/